<div class="Principal">
  <div class="purchase-container">
    <h1 class="title">LISTA DE COMPRAS POR USUARIO</h1>

    <!-- Barra de pesquisa -->
    <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar por nome de usuário..." class="search-bar">

    <div *ngFor="let group of filteredPurchases()">
      <p class="total"> Total das Compras Feitas por Usuario: {{ group.total | currency }}</p>
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>ID da Compra</th>
            <th>Data da Compra</th>
            <th>Valor Unitario</th>
            <th>Item e Quantidades Compradas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of group.purchases">
            <td>{{purchase.userName}}</td>
            <td>{{ purchase.id }}</td>
            <td>{{ purchase.orderDate | date }}</td>
            <td>{{ purchase.total | currency }}</td>
            <td>
              <ul>
                <li *ngFor="let item of purchase.items">
                  {{ item.productName}} - {{ item.quantity }} x {{ item.unitPrice | currency }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
